.card {
	justify-content: center !important;
	margin: 2px;
	background: black;
}
.card>.img-container {
	justify-content: center !important;
	background: black;
	margin: 0;
	overflow: hidden;
}
.card>.img-container>img {
	justify-content: center !important;
	width: 180px;
	height: 250px;
}